.section-menu {
  position: fixed;
  right: 0;
  z-index: 2;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding-top: 12rem;
}

@media (max-width: 360px), (min-height: 640px) {
  nav{
    display: none;
  }
}