.projects-list {
  display: flex;
  justify-content: center;
  gap: 3rem;
  flex-wrap: wrap;
  margin-bottom: 2rem;
  align-content: flex-start;
}

.projects-list li {
  height: 22rem;
}

@media (max-width: 1360px), (max-height: 768px) {
  .projects-list li {
    height: 20.5rem;
  }
}

@media (max-width: 1280px), (max-height: 800px) {
  .projects-list li {
    margin-bottom: 1rem;
  }
}