@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.section-links:before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 5rem;
  margin-left: 5px;
}

.section-links {
  display: flex;
  align-items: center;
  transition: transform 0.3s ease-in-out;
  transform: translate(95%);
  width: 25rem;
  height: 7rem;
  padding-left: 2rem;
}

.section-links:nth-child(odd) {
  background-color: var(--greenColor);
}

.section-links:nth-child(odd):hover {
  transform: translate(0);
  border-left: 3.5rem solid transparent;
  border-top: 3.5rem solid var(--greenColor);
  border-bottom: 3.5rem solid var(--greenColor);
  background-color: transparent;
}

.section-links:nth-child(even) {
  background-color: var(--darkColor);
}

.section-links:nth-child(even):hover {
  transform: translate(0);
  border-left: 3.5rem solid transparent;
  border-top: 3.5rem solid var(--darkColor);
  border-bottom: 3.5rem solid var(--darkColor);
  background-color: transparent;
}

.section-links a {
  font-size: 3rem;
  font-family: 'Bebas Neue', sans-serif;
  color: var(--lightColor);
}

.section-links a:visited {
  color: var(--lightColor);
}

.section-links.bg-links {
  background-color: var(--lightColor);
}

.section-links.bg-links a {
  color: var(--darkColor);
}

.section-links.bg-links:hover {
  background-color: var(--lightColor);
  border-left: 3.5rem solid transparent;
  border-top: 3.5rem solid var(--lightColor);
  border-bottom: 3.5rem solid var(--lightColor);
  background-color: transparent;
}