.project {
  width: 30rem;
  height: 22rem;
  padding: 1.5rem;
  border: 1px solid var(--darkColor);
  background-color: #f6f7f1;
  box-shadow: 8px 8px 1px 2px var(--darkColor);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1rem 6rem 3rem 2rem 1fr;
  align-items: center;
  justify-items: center;
}

.logo img {
  width: 200px;
}

.languajes {
  display: flex;
  gap: 0.8rem;
  justify-self: flex-start;
  margin-top: 1rem;
  font-size: 0.8rem;
}

.languajes p {
  margin-top: 1rem;
  background-color: var(--greenColor);
  color: var(--lightColor);
  padding: 0.5rem;
  border-radius: 5px;
}

.links {
  display: flex;
  justify-self: flex-start;
  gap: 0.8rem;
}

.links a:hover {
  transform: scale(1.2);
}

.links a:hover svg path {
  fill: var(--greenColor);
}

.project h1 {
  margin-top: 2.5rem;
  font-size: 1.5rem;
}

.description {
  margin-top: 1.5rem;
  grid-row: 5/6;
  align-self: flex-start;
}

@media (max-width: 1360px), (max-height: 768px) {
  .project {
    width: 38rem;
    height: 20.5rem;
  }
}

@media (max-width: 1280px), (max-height: 800px) {
  .project {
    width: 30rem;
    height: 21.5rem;
  }
}