header {
  height: 6.5rem;
  background-color: transparent;
  position: absolute;
  top: 0.5rem;
  left: 2rem;
  z-index: 2;
}

@media (max-width: 360px), (min-height: 640px) {
  header svg {
    width: 50px;
  }
}