@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap');

.technologies {
  height: 50vh;
  background-color: var(--greenColor);
  color: var(--lightColor);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.technologies h2 {
  font-size: 3rem;
  margin-bottom: 1.5rem;
}

.technologies p {
  margin-bottom: 3rem;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.1rem;
  font-weight: 600;
}

@media (min-width: 360px) and (max-width: 1023px), (max-height: 640px) {
  .technologies h2 {
    font-size: 1.5rem;
  }

  .technologies p {
    text-align: center;
    padding: 0 2rem;
    font-size: 0.6rem;
    line-height: 1.5;
    margin-bottom: 2rem;
  }
}