@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap');

.technologies {
  height: 50vh;
  background-color: var(--greenColor);
  color: var(--lightColor);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.technologies h2 {
  font-size: 3rem;
  margin-bottom: 1.5rem;
}

.technologies p {
  margin-bottom: 3rem;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.1rem;
}